:root {
  --backgroundColor: #1d1f20;
  --primaryColor: #e98940;
  --secondaryColor: #ffa500;
  --projectCardBG: #f0f1f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5rem;
  color: white;
  position: relative;
  background-color: var(--backgroundColor);
}

h1 {
  font-family: 'Krona One', sans-serif;
}

/* ! Nav bar */
header {
  grid-column: 1/9;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.logo {
  padding-left: 0.5rem;
  color: var(--secondaryColor);
  font-size: 6vw;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: relative;
  padding-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--secondaryColor);
}

nav {
  position: absolute;
  top: 100%;
  background-color: var(--backgroundColor);
  height: 100vh;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
}

nav li {
  margin: 3em;
  padding: 2em;
}

.nav-link {
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5vw;
  color: var(--secondaryColor);
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  display: block;
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* ! Hero section */

.hero-text {
  color: var(--primaryColor);
  grid-column: 2/8;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  font-size: 3.5vw;
  margin: 30vw 0;
  row-gap: 1.5rem;
}

.hero1 {
  grid-row: 1/2;
  grid-column: 1/4;
}

.hero2 {
  grid-row: 2/3;
  grid-column: 3/7;
  word-break: normal;
}

/* ! About me */
.about-me,
.projects {
  grid-column: 2/8;
  margin-bottom: 20vw;
  padding-top: 10vw;
}

.section-title {
  display: flex;
  margin-bottom: 3rem;
  align-items: baseline;
  gap: 2px;
}

.section-number {
  font-size: 0.8rem;
}

.section-name {
  font-size: 1.2rem;
}

.section-info {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ? Technologies */

.technologies {
  grid-column: 2/8;
  display: flex;
  justify-content: space-between;
}

.technology-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.7rem;
  margin-top: 32px;
}

/* ! Projects */
.project-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.listed-project {
  grid-column: 2/8;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.project-title {
  grid-column: 5/11;
  display: flex;
  justify-content: center;
  background-color: var(--primaryColor);
  color: #111620;
  padding: 0.5rem 0;
}

.project-info {
  grid-column: 1/11;
  background-color: var(--projectCardBG);
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
  z-index: 1;
  box-shadow: 0.5vw 0.5vw 5px #505155;
}

.project-description {
  background-color: var(--projectCardBG);
  color: black;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

.developed-with {
  background-color: var(--projectCardBG);
  color: black;
  margin-bottom: 1.5rem;
}

.cta-project {
  background-color: var(--projectCardBG);
  color: black;
  display: flex;
  justify-content: space-around;
}

.github-project > img {
  height: 1.5rem;
  background-color: var(--projectCardBG);
}

.live-project > span {
  background-color: var(--projectCardBG);
}

.live-project,
.github-project {
  all: unset;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 1vw 2vw;
  cursor: pointer;
}

button > p {
  background-color: var(--projectCardBG);
  text-decoration: underline;
}

.project-image {
  grid-column: 2/10;
  width: 100%;
}

.project-image > img {
  max-width: 100%;
  object-fit: contain;
  position: relative;
  top: -1rem;
}

/* ! Contact */

.contact {
  grid-column: 2/8;
  padding-top: 10vw;
  margin-bottom: 5vw;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto 2rem auto;
}

a > img {
  background-color: var(--primaryColor);
}

a > img {
  width: 50px;
  height: 50px;
}

/* ? Form */

.form-container,
.social-icons,
#form-contact {
  background-color: var(--primaryColor);
}

.form-container {
  padding-top: 2vw;
  margin-top: 10vw;
}

#form-contact {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  margin: 0 5vw;
}

#message {
  height: 20vw;
}

input {
  padding: 2vw;
  width: 100%;
  background-color: var(--projectCardBG);
  border: #f0f1f2;
}

#send-email {
  all: unset;
  width: 50%;
  margin-bottom: 2vw;
  color: white;
  background-color: #111620;
  text-align: center;
  text-decoration: underline;
  padding: 3vw 0;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    all: unset;
    position: fixed;
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    z-index: 99;
    width: 100%;
    background-color: var(--backgroundColor);
  }

  .logo {
    grid-column: 1/2;
  }

  nav {
    all: unset;
    grid-column: 4/8;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    padding-right: 5vw;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  nav li {
    all: unset;
  }

  .nav-link {
    display: flex;
    align-items: baseline;
    justify-items: center;
    opacity: 1;
  }
}
